<div class="modal-header">
  <h5 class="modal-title">
    Kullanıcı Ayarları
  </h5>
  <button aria-label="Close" class="close" type="button" (click)="clearClicked()">
  </button>
</div>
<div class="modal-body">
  <div class="form form-label-right">
    <div class="form-group row">
      <label class="col-lg-12">
        Ülke
      </label>
      <div class="col-lg-6">
        <app-country-lookup
          [selectedValue]="dataModel.countryId"
          [selectedText]="dataModel.countryName"
          (selected)="dataModel.countryId = $event">
        </app-country-lookup>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-12">
        Para Birimi
      </label>
      <div class="col-lg-6">
        <app-currency-lookup
          [selectedValue]="dataModel.currencyId"
          [selectedText]="dataModel.currencyName"
          (selected)="dataModel.currencyId = $event">
        </app-currency-lookup>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <dx-button class="btn btn-outline-primary float-right" text="Kaydet" (onClick)="saveClicked()"
               icon="la la-save"></dx-button>
    <dx-button class="btn btn-outline-danger float-right" text="Temizle" (onClick)="clearClicked()"
               icon="la la-ban"></dx-button>
  </div>
</div>

