<dx-lookup [dataSource]="dataSource"
           [displayExpr]="getDisplayExpr"
           valueExpr="id"
           placeholder="Seçiniz..."
           searchPlaceholder="Ara..."
           [showPopupTitle]="false"
           closeOnOutsideClick="true"
           [(value)]="selectedValue"
           searchMode="startswith"
           pageLoadingText="Yükleniyor..."
           cancelButtonText="İptal"
           noDataText="Veri bulunamadı..."
           minSearchLength="0"
           (onSelectionChanged)="onChange($event)"
           showClearButton="true"
           clearButtonText="Temizle"
           [grouped]="true"
           itemTemplate="listItem">
  <dxo-drop-down-options title="Hesap Seçiniz"></dxo-drop-down-options>
  <div *dxTemplate="let item of 'listItem'">
    <div class="custom-item">
      <div>{{item.accountName }} ( {{item.balance.toLocaleString() }} {{item.investmentToolCode }} )</div>
    </div>
  </div>
</dx-lookup>
